# General
node_modules/
dist/
tmp/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.pem

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
node_modules